:host, .dialog-header, .dialog-content
  min-width: 0
  box-sizing: border-box

.dialog-header
  display: flex
  align-items: center
  justify-content: space-between

h2
  padding-bottom: 0

button
  margin-right: 0.5rem

hr
  margin-right: 26px
  margin-left: 26px
  margin-bottom: 0