@use '@angular/material' as mat;

mat-card
  padding: 2rem
  margin: 50px !important

.dashboard-card
  width: 100%

.evaluation
  margin-right: 1.5rem
  margin-left: 1.5rem

@media (min-width: 800px)
  .dashboard-card
    width: 90%

  .evaluation
    margin-top: 2.5rem
    margin-right: 5rem
    margin-left: 5rem

  .statement
    flex-direction: row !important
    align-items: center !important

  .tab-icon
    margin-right: 2rem

.more-button
  position: absolute;
  top: 5px;
  right: 10px;
