@use '@angular/material' as mat;

.bar
  width: min(90vw, 70rem)
.statement-container
  min-height: 40vh
  width: min(90vw, 70rem)
  min-width: 0

.double-weight-button
  color: black
  background-color: white

@media (min-width: 800px)
  .card
    max-width: 400px
  .bar
    width: min(80vw, 70rem)
  .statement-container
    min-height: 40vh
    width: min(80vw, 70rem)

.accept-button 
  width: 100px
  
.reject-button
  width: 100px

.neutral-button
  width: 75px

.was-chosen
  border: 2px solid black !important

.button-explanation
  white-space: normal
    
// Desktop
@media (min-width: 800px)
    .voting
        align-items: center !important
        margin-top: 0 !important

@media (max-width: 420px)
  .voting
    padding-inline: .5rem

  .statement-container
    min-height: 30vh

  .statement-text
    font-size: clamp(1.5rem, 8vw, 2rem)

  .navigation-controls
    gap: 2rem !important

  .answer-controls
    gap: .5rem !important
