<header class="dialog-header">
  <button type="button" mat-icon-button cdkFocusInitial aria-label="Close party position" (click)="dialogRef.close()">
    <mat-icon>cancel</mat-icon>
  </button>
</header>
<mat-dialog-content class="dialog-content d-flex flex-column gap-2">
    <p class="mb-0 text-secondary">Statement {{ statement.id }}</p>
    <h3 class="h5 fw-bold">{{ statement.text }}</h3>
    <div class="position-row d-flex flex-row flex-wrap align-items-center gap-2">
      <p class="mb-0">{{ party.name }}:</p>
      @switch (position.opinion) {
        @case (-1) {
          <mat-icon matTooltip="Disagree" style="color: red">cancel</mat-icon>
        }
        @case (0) {
          <mat-icon matTooltip="Neutral">mode_standby</mat-icon>
        }
        @case (1) {
          <mat-icon matTooltip="Agree" style="color: green">check_circle</mat-icon>
        }
      }
      <span>{{ convertOpinionToString(position.opinion) }}</span>
    </div>
    <div class="position-row d-flex flex-row flex-wrap align-items-center gap-2">
      <p class="mb-0">Your answer:</p>
      @if (!vote || vote.value === null) {
        <mat-icon matTooltip="No answer">radio_button_unchecked</mat-icon>
        <span>No answer</span>
      } @else {
      @switch (vote.value) {
        @case (-1) {
          <mat-icon matTooltip="Disagree" style="color: red">cancel</mat-icon>
        }
        @case (0) {
          <mat-icon matTooltip="Neutral">mode_standby</mat-icon>
        }
        @case (1) {
          <mat-icon matTooltip="Agree" style="color: green">check_circle</mat-icon>
        }
      }
      <span>{{ convertOpinionToString(vote.value) }}</span>
      }
    </div>
    @if (vote?.weight === 2) {
      <p class="mb-0 small-p"><i>You gave this statement double weight.</i></p>
    }
    <hr />
    <h3 class="h6 fw-bold">Party justification</h3>
    <p
      class="mb-0"
      [innerHTML]="position.justification ? '“' + position.justification + '”' : 'The party did not provide a justification.'"
    ></p>
</mat-dialog-content>
